{% extends "layout.html" %}
{% set jumbotron = true %}

{% block title %}Home page{% endblock %}

{% block content %}

<h1>Hello, home page! <small>вот это да</small></h1>

{{ query_string() }}

{% endblock %}