{% extends "layout.html" %}
{% set jumbotron = true %}

{% block title %}Главная{% endblock %}

{% block content %}
  <div class="row">
    
    {% if tasks|length == 0 %}
      <h3>Здесь нет никаких задач</h3>
    {% endif %}
    
    {% for task in tasks %}
    
      <div class="col-md-4">
        <div class="task">
          <a href="/tasks/{{ task.id }}" class="task-image-link" style="background-image: url({{ task.image }})">
            <div class="task-image-filter"></div>
            <div class="task-meta">
              <p>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span>{{ task.user_name }}</span><br/>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <span>{{ task.user_email }}</span>
              </p>
            </div>
            {% if task.completed %}<div class="task-completed-mark"></div>{% endif %}
          </a>
          <div class="task-info">
            <h4 class="media-heading">{{ task.title }}</h4>
            <div class="task-body">{{ task.body }}</div>
          </div>
        </div>
      </div>
      
    {% endfor %}
    
  </div>
  
  {% if pageCount > 1 %}
    <nav class="tasks-nav" aria-label="page">
      {{ breadcrumb('/', page, page_count) }}
    </nav>
  {% endif %}

{% endblock %}

{% block footer %}
  <script type="text/javascript" src="/node_modules/markdown/lib/markdown.js"></script>
  <script type="text/javascript">
    
    /*global $*/
    /*global markdown*/
    
    $(document).ready(function () {
      $('.task-body').each(function (i, e) {
        
        var $taskBody = $(e);
        $taskBody.html(markdown.toHTML($taskBody.text()));
      });
    });
  </script>
{% endblock %}