<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}Задачи{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="/node_modules/bootswatch/flatly/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        /*padding-top: 20px;*/
        padding-bottom: 20px;
      }
      footer {
        font-size: smaller;
      }
      .navbar {
        margin-bottom: 0px;
      }
      .jumbotron {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        color: white;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
      }
      .task {
        /*max-width: 320px;*/
        /*margin: auto;*/
        
        /*FIXME: VREMENNO!!!*/
        max-width: 350px;
        min-height: 460px;
        margin: auto;
        border: 1px solid #ddd;
        padding: 15px;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
      }
      .task-info {
        padding-top: 20px;
        font-size: 85%;
        line-height: 1.6em;
      }
      .bg-image {
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        /*background-image: url(/img/bg1.jpg);*/
      }
      .cover {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: none;
        background: rgba(0, 0, 0, 0.6);
      }
      .task-image-link {
        position: relative;
        display: block;
        width: 320px;
        height: 240px;
        overflow: hidden;
      }
      .task-image {
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: left top 0px;
      }
      .task-image-filter {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(22,30,36,0) 40%, rgba(55,76,89,0.89) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(22,30,36,0) 40%,rgba(55,76,89,0.89) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(22,30,36,0) 40%,rgba(55,76,89,0.89) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e3374c59',GradientType=0 ); /* IE6-9 */
      }
      .task-meta {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 10px 15px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
      }
      .task-meta span {
        color: #e6d354;
        font-weight: bold;
      }
      .task-completed-mark {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        right: 0;
        background-image: url(/img/completed.png);
      }
      .tasks-nav {
        text-align: center;
      }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
    
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ЗАДАЧИ</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Главная</a></li>
            <li class=""><a href="/tasks/create">Создать свою</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.role == 'admin' %}
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/logout?hash={{ user.hash }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Выйти</a></li>
              </ul>
            </li>
            {% else %}
              <li><a href="/login">Войти</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    {% if jumbotron %}
       <!--Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron bg-image" style="background-image: url(/img/todo1.jpg);">
        <div class="cover" style="z-index: 10;"></div>
        <div class="container" style="z-index: 20; position: relative;">
          <h1>Hello, world!</h1>
          <p>Тысячи пользователей уже зарегистрировались и начали создавать задачи, а вы?</p>
          <p><a class="btn btn-success btn-md" href="/tasks/create" role="button">Создать свою задачу &raquo;</a></p>
        </div>
      </div>
    {% endif %}
    
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    
    <footer>
      <div class="container">
        <hr />
        <p>&copy; Yan Filippovsky</p>
      </div>
    </footer>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    
    {% block footer %}{% endblock %}
  </body>
</html>