{% extends "layout.html" %}
{% set jumbotron = false %}

{% block title %}Login as administrator{% endblock %}

{% block head %}
<style type="text/css">
  .login-panel {
    margin-top: 40px;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default login-panel">
      <div class="panel-heading">Вход для администратора</div>
      <div class="panel-body">
        
        {% if user.role == 'admin' %}
          <p>Вы уже вошли</p>
        {% else %}
          {% set q = request.queryString() %}
          <form class="form-horizontal" role="form" method="POST" action="/login{{ q is defined ? '?' ~ q }}">
  
            <div class="form-group{{ __errors['password'] is defined ? ' has-error' : '' }}">
              <label for="password" class="col-md-4 control-label">Пароль</label>
  
              <div class="col-md-6">
                <input id="password" type="password" class="form-control" name="password" placeholder="три цифры, что может быть проще :)">
  
                {% if __errors['password'] is defined %}
                  <span class="help-block">
                    <strong>{{ __errors['password'] }}</strong>
                  </span>
                {% endif %}
              </div>
            </div>
            
          </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
