{% extends "layout.html" %}
{% set jumbotron = false %}

{% block title %}{{ task.title }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/node_modules/bootstrap-markdown/css/bootstrap-markdown.min.css" type="text/css" />
  <link rel="stylesheet" href="/node_modules/bootstrap-toggle/css/bootstrap-toggle.min.css" type="text/css" />
  <style type="text/css">
    .cropit-preview {
      width: 322px;
      height: 242px;
      border: 1px solid #ddd;
      cursor: move;
    }
    .cropit-col {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      float: left;
    }
    /* Hide file input */
    .cropit-image-input {
      visibility: hidden;
      width: 320px;
    }
  </style>
{% endblock %}

{% block content %}
  <header class="page-header">
    <h2>{{ task is defined ? 'Редактирование' : 'Создание новой' }} задачи <small>{{ task.title }}</small></h2>
  </header>
  
  <!--enctype="multipart/form-data" -->
  <form id="task-edit-form" enctype="multipart/form-data" method="POST" action="/tasks{{ task is defined ? '/' ~ task.id }}">
    
    <input type="hidden" name="__method" value="{{ task is defined ? 'PUT' : 'POST' }}" />
    
    {% if task is defined %}
      <div class="form-group">
        <!--<button class="btn btn-sm btn-success" data-toggle="button" aria-pressed="false" autocomplete="off">-->
        <!--  <strong><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> COMPLETED</strong>-->
        <!--</button>-->
        <label for="input-completed">Статус задачи</label><br/>
        <input id="input-completed" type="checkbox" name="completed" {{ task is defined and task.completed ? 'checked' }} data-toggle="toggle" data-on="Завершено" data-off="Не завершено" data-width="150" />
      </div>
    {% endif %}
    
    <!--<div class="form-group">-->
    <!--  <a href="#">-->
    <!--    <img src="/img/320x240.png" alt="Выберите обложку"></img>-->
    <!--  </a>-->
    <!--</div>-->
    
    <div class="form-group">
      <div id="image-cropper">
        <div class="row">
          <div class="cropit-col">
            <div class="cropit-preview"></div>
          </div>
          <div class="cropit-col">
            <input type="range" class="cropit-image-zoom-input" />
            
             <!--The actual file input will be hidden -->
            <input type="file" name="__image" class="cropit-image-input" />
            <input type="hidden" name="__transform[]" value="0" /><!-- x -->
            <input type="hidden" name="__transform[]" value="0" /><!-- x -->
            <input type="hidden" name="__transform[]" value="0" /><!-- new width -->
            <input type="hidden" name="__transform[]" value="0" /><!-- new height -->
            
             <!--And clicking on this button will open up select file dialog -->
            <a href="#" class="btn btn-xs btn-block btn-warning select-image-btn"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Выбрать изображение</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="form-group {{ __errors['title'] is defined ? 'has-warning' }}">
      <label for="input-title">Заголовок задачи</label>
      <input type="text" id="input-title" name="title" class="form-control" placeholder="Введите заголовок задачи" value="{{ task is defined ? task.title : __input['title'] }}" />
      
      {% if __errors['title'] is defined %}
        <span class="help-block">
          <strong>{{ __errors['title'] }}</strong>
        </span>
      {% endif %}
    </div>
    
    <div class="form-group {{ __errors['user_name'] is defined ? 'has-warning' }}">
      <label for="input-user_name">Ваше имя</label>
      <input type="text" id="input-user_name" name="user_name" class="form-control" placeholder="Введите ваше имя" value="{{ task is defined ? task.user_name : __input['user_name'] }}" />
      
      {% if __errors['user_name'] is defined %}
        <span class="help-block">
          <strong>{{ __errors['user_name'] }}</strong>
        </span>
      {% endif %}
    </div>
    
    <div class="form-group {{ __errors['user_email'] is defined ? 'has-warning' }}">
      <label for="input-user_email">Ваш email</label>
      <input type="email" id="input-user_email" name="user_email" class="form-control" placeholder="Введите ваш email" value="{{ task is defined ? task.user_email : __input['user_email'] }}" />
      
      {% if __errors['user_email'] is defined %}
        <span class="help-block">
          <strong>{{ __errors['user_email'] }}</strong>
        </span>
      {% endif %}
    </div>
    
    <div class="form-group {{ __errors['body'] is defined ? 'has-warning' }}">
      <textarea id="input-body" class="form-control" name="body" id="input-body" rows="17" placeholder="Введите описание задачи">{{ task is defined ? task.body : __input['body'] }}</textarea>
      
      {% if __errors['body'] is defined %}
        <span class="help-block">
          <strong>{{ __errors['body'] }}</strong>
        </span>
      {% endif %}
    </div>
    
    <button id="publish-task" class="btn btn-success" data-loading-text="Подождите..." autocomplete="off"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Сохранить</button>
    <a href="#" id="preview-task" class="btn btn-primary" autocomplete="off"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Предпросмотр</a>
  </form>
  
<div id="modal-preview" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Предпросмотр задачи</h4>
      </div>
      <div class="modal-body">
        <div id="modal-preview-body">
          {% include('partial/task-markup.html') %}
        </div>
      </div>
      <div class="modal-footer">
        <button id="preview-close-btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block footer %}
  <script type="text/javascript" src="/node_modules/bootstrap-markdown/js/bootstrap-markdown.js"></script>
  <script type="text/javascript" src="/node_modules/markdown/lib/markdown.js"></script>
  <script type="text/javascript" src="/node_modules/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
  <script type="text/javascript" src="/node_modules/cropit/dist/jquery.cropit.js"></script>
  <script type="text/javascript">
    /*global $*/
    /*global markdown*/
    /*global Image*/
    
    $(document).ready(function () {
      
      var previewContent = null;
      
      $('#input-body').markdown({
        hiddenButtons: ['cmdUrl','cmdImage','cmdCode'],
        onPreview: function(e) {
          if (e.isDirty()) {
            var originalContent = e.getContent();
            previewContent = markdown.toHTML(originalContent);
          }
          return previewContent;
        },
      });
      
      function disableForm(disabled) {
        
        var $inputs = $("#task-edit-form :input").not('button');
        var $buttons = $("#task-edit-form button")
          .not('#input-completed')
          .not('#publish-task');
          
        if (disabled) {
          $inputs.attr("readonly", "readonly");
          $buttons.attr("disabled", "disabled");
        } else {
          $inputs.removeAttr("readonly");
          $buttons.removeAttr("disabled");
        }
      }
      
      var $completedToggleBtn = $('#input-completed');
      if ($completedToggleBtn.prop('checked') === true) {
        disableForm(true);
      }
      
      $completedToggleBtn.change(function () {
        disableForm($completedToggleBtn.prop('checked'));
      });
      
      /*
       * click on "Preview" (Предпросмотр)
       */
      $('#preview-task').click(function () {
        
        $('#task__title').text($('#input-title').val());
        $('#task__user_name').text($('#input-user_name').val());
        $('#task__user_email').text($('#input-user_email').val());
        
        var $textarea = $('#input-body');
        var $taskBody = $('#task__body');
        $taskBody.html(markdown.toHTML($textarea.val()));
        
        var $cropitImage = $('.cropit-preview-image');
        var $modalImage = $('.task-image');
        
        $modalImage.attr('src', $cropitImage.attr('src'));
        $modalImage.css('transform', $cropitImage.css('transform'));
        
        $('#modal-preview').modal('show');
      });
      
      /*
       * click on "Publish" (Сохранить)
       */
      $('#publish-task').click(function () {
        
        var $transformInput = $('input[name="__transform[]"]');
        var $cropitImage = $('.cropit-preview-image');
        
        if ($cropitImage.css('transform') !== 'none') {
          
          var $image = new Image();
          $image.src = $cropitImage.attr('src');
          
          var transformString = $cropitImage.css('transform');
          var matrix = transformString.match(/-?[\d.]+/ig);
          
          var tx = -parseInt(matrix[4]);
          var ty = -parseInt(matrix[5]);
          
          var w = Math.round(parseFloat(matrix[0]) * $image.width);
          var h = Math.round(parseFloat(matrix[3]) * $image.height);
          
          $transformInput[0].value = tx;
          $transformInput[1].value = ty;
          $transformInput[2].value = w;
          $transformInput[3].value = h;
        }
      });
      
      /*
       * initialize cropit container
       */
      $('#image-cropper').cropit();
      $('#image-cropper').find('.cropit-preview-image').attr('src', '{{ task.image }}');

      /*
       * When user clicks "select image" (Выбрать изображение) button,
       * open select file dialog programmatically
       */
      $('.select-image-btn').click(function() {
        $('.cropit-image-input').click();
      });
    });
  </script>
{% endblock %}