{% extends "layout.html" %}
{% set jumbotron = false %}

{% block title %}{{ task.title }}{% endblock %}

{% block content %}

<header class="page-header">
  <h2>Просмотр задачи</h2>
</header>

{% include('partial/task-markup.html') %}

<a href="/tasks/{{ task.id }}/edit" class="btn btn-xs btn-success">Редактировать</a>

{% endblock %}

{% block footer %}
  <script type="text/javascript" src="/node_modules/markdown/lib/markdown.js"></script>
  <script type="text/javascript">
    
    /*global $*/
    /*global markdown*/
    
    $(document).ready(function () {
      var $taskBody = $('#task__body');
      $taskBody.html(markdown.toHTML($taskBody.text()));
    });
  </script>
{% endblock %}