
<ul class="pagination pagination-sm">
  
  {% if page > 1 %}
    <li>
      <a href="{{ base_path }}?{{ query_string({ 'page': page - 1 }) }}" aria-label="Previous">
        <span aria-hidden="true">&lt;</span>
      </a>
    </li>
  {% endif %}
  
  {% for n in numbers %}
    {% if n == '..' %}
      <li><span>..</span></li>
    {% elseif n == page %}
      <li class="active"><span>{{ n }}</span></li>
    {% else %}
      <li><a href="{{ base_path }}?{{ query_string({ 'page': n }) }}">{{ n }}</a></li>
    {% endif %}
  {% endfor %}
  
  {% if page < page_count %}
    <li>
      <a href="{{ base_path }}?{{ query_string({ 'page': page + 1 }) }}" aria-label="Next">
        <span aria-hidden="true">&gt;</span>
      </a>
    </li>
  {% endif %}
  
</ul>