 <!--style="background-image: url(/img/320x240.png)"-->
 
<a class="task-image-link" href="#">
  <img class="task-image" src="{{ task.image }}" alt="Иллюстрация к задаче: {{ task.title }}"></img>
  <div class="task-image-filter"></div>
  <div class="task-meta">
    <p>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span id="task__user_name">{{ task.user_name }}</span><br/>
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <span id="task__user_email">{{ task.user_email }}</span>
    </p>
  </div>
  <div id="task-completed" class="task-completed-mark" {{ task.completed ?: 'hidden' }}></div>
</a>

<h3 id="task__title">{{ task.title }}</h3>
<div id="task__body">{{ task.body }}</div>

